<div id="image-grid" class="work">
		<div class="image-three p1">
			<span class="darken">
				<%= link_to image_tag("thatsongtho-lower-half-3.jpg", data: "myid", 
										id: "image-doca"), "#work" %>
			</span>
			<div class="title">DOCA</div>
		</div>
		<div class="image-one p1 end">
			
			<span class="">
				<%= link_to image_tag("mobile pick a song.png"), "#work" %>
			</span>
		
			<div class="title">PICK</div>
		</div>
		<div class="image-one project-two">
			<span>
				<%= link_to image_tag("mobile drake bob.png"), "#work" %>
			</span>
			<div class="title">RESPONSIVE</div>
		</div>
		<div class="image-one project-two">
			<span>
				<%= link_to image_tag("mobile-landing-2.jpg"), "#work" %>
			</span>
			<div class="title">MOBILE FRIENDLY</div>
		</div>
		<div class="image-two project-two">
			<span>
				<%= link_to image_tag("drake bob deep.png"), "#work" %>
			</span>
			<div class="title">CHALLENGE MODE</div>
		</div>
</div>