<div id="image-grid">
	<div class="image-three">
		<%= image_tag("doca.jpg") %>
	</div>
	<div class="image-one end">
		<%= image_tag("waterland.jpg") %>
	</div>
	<div class="image-one">
		<%= image_tag("isomat.jpg") %>
	</div>
	<div class="image-one">
		<%= image_tag("original-STATIC--DNA-1X-.jpg") %>
	</div>
	<div class="image-two">
		<%= image_tag("medcosmos.jpg") %>
	</div>
</div>



<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
