<div class="fixed">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"><h1><%= link_to "John Howlett's Portfolio", root_path %></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
			</ul>
			<ul class="center">
				<li id="work-top"><%= link_to "WORK", "#work" %></li>
				<li id="knowledge-top"><%= link_to "KNOWLEDGE", "#knowledge" %></li>
				<li id="about-top"><%= link_to "ABOUT ME", "#about-me" %></li>
				<li id="contact-top"><%= link_to "CONTACT", "#contact" %></li>
			</ul>
			<ul class="right">
				<li><%= link_to "jehowl4@gmail.com", "mailto:jehowl4@gmail.com" %></li>
			</ul>
		</section>
	</nav>
</div>